<%# Displays list of @referrals %>
<% @referrals.each do |referral| %>
  <% item_link = recruiter_event_referral_path(@event, referral) %>
  <div id="div_referral_<%= referral.id %>">
    <%= render :partial=>"common/candidate/item", :locals=>{:candidate=>referral.candidate, career_interest: referral, item_link: item_link} %>
  </div>
<% end %>
<%= theme_panel_message(I18n.translate("forms.no_results")) if @referrals.blank? %>

<%= theme_paginate(@referrals) %>
