
<div class="panel panel-default media p-5 <%= event_class %>">
  <a class="media-left" href="#">
    <%= display_image(qcareer_configuration, "logo.image.url",
                        width: "125px",
                        place_holder: {
                          width: 125,
                          height: 90,
                          text: "<No Image>"}
                        ) %>
  </a>
  <div class="media-body">
    <%= theme_item_title(qcareer_configuration.name, main_app.admin_event_path(event)) %>
    <%= theme_item_sub_title(stringify_date(qcareer_configuration.value)) if qcareer_configuration.value %>
    
  </div>
</div>

