<%= flash_message if request.xhr? -%>

<div class="panel panel-default">
  <div class="panel-body" style="height:auto;">
    <div class="pull-left" style="width:30%;">
    
    </div>
    <div class="pull-left ml-10" style="width:100%;">
      <%= theme_panel_heading(@career_configuration.name) %>
      <%= theme_panel_description(@career_configuration.value) %>
    </div>

<%= theme_more_widget(@career_configuration,
          heading: "Q-Career Configuration Details",
          data_columns: [:id, :created_at, :updated_at],
          super_admin: true) %>