<%= theme_heading("Registrations") %>

<div class="row mb-10">
	<div class="col-sm-6">
	</div>
	<div class="col-sm-6">
		<%= theme_search_form(Event, main_app.recruiter_events_path) %>
  </div>
</div>

<%# Renders a partial to display all the events %>
<div class="row">
	<div id="div_event_index" class="col-sm-12 hidden-xs">
		<%= render :partial=>"index" %>
	</div>
</div>


